.App {
  display: flex;
  /* overflow-x: hidden; */
  flex-direction: column;
  align-items: center;
  background-image: url("https://i.postimg.cc/mrqSH88D/background.png");
  background-size: 100%;
}
